div {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

body {
    font-family: sans-serif;
}

.body-bar {
    font-family: sans-serif;
    background-color: #E7EBED;
}


/*To handle resizability of charts' divs*/

.svg-container {
    display: inline-block;
    position: relative;
    width: 70%;
    padding-bottom: 40%;
    vertical-align: top;
    overflow: visible;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


/*Tooltip used accross Charts*/

.mytooltip {
    position: absolute;
    pointer-events: none;
    visibility: hidden;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #687781;
    color: #3D4B57;
    padding: 5px;
}


/* ASome axis formating*/

.axisY path {
    stroke: #687781
}

.axisY line {
    stroke: #687781
}

.axisY text {
    fill: #687781;
    font-size: 11px;
}

.axisX path {
    stroke: #687781
}

.axisX line {
    stroke: #687781
}

.axisX text {
    fill: #687781;
    font-size: 14px;
}

.textAxis {
    fill: #687781;
    font-size: 15px
}