    .characterText {
        font-weight: bold;
        font-size: 19px;
    }
    
    .placesText {
        font-weight: bold;
        font-size: 19px;
    }
    /*CHARACTERS*/
    
    .characterText.KiWoo {
        --match: KiWoo;
        color: rgb(255, 127, 0);
    }
    
    .characterText.KiJung {
        --match: KiJung;
        color: rgb(253, 191, 111);
    }
    
    .characterText.KiTaek {
        --match: KiTaek;
        color: rgb(227, 26, 28);
    }
    
    .characterText.ChungSook {
        --match: ChungSook;
        color: #ff9999;
    }
    
    .characterText.YeonKyo {
        --match: YeonKyo;
        color: rgb(106, 61, 154);
    }
    
    .characterText.MrPark {
        --match: MrPark;
        color: rgb(202, 178, 214);
    }
    
    .characterText.DaHye {
        --match: DaHye;
        color: rgb(31, 120, 180);
    }
    
    .characterText.DaSong {
        --match: DaSong;
        color: rgb(166, 206, 227);
    }
    
    .characterText.MoonGwang {
        --match: MoonGwang;
        color: rgb(51, 160, 44);
    }
    
    .characterText.GeunSe {
        --match: GeunSe;
        color: rgb(178, 223, 138);
    }
    /*PLACES*/
    
    .placesText.kitchen {
        --match: kitchen;
        color: rgb(204, 198, 212);
    }
    
    .placesText.entrancestairs {
        --match: entrance-stairs;
        color: #8482a1;
    }
    
    .placesText.livingroom {
        --match: living_room;
        color: rgb(230, 108, 100);
    }
    
    .placesText.basement {
        --match: basement;
        color: rgb(126, 62, 13);
    }
    
    .placesText.bunker {
        --match: cave;
        color: rgb(70, 102, 37);
    }
    
    .placesText.garden {
        --match: garden;
        color: rgb(138, 193, 188);
    }